@charset "utf-8";
@import "reset.css";

/* banner.css - Banner设计样式, 2012 © yamoo9.com
---------------------------------------------------------------- */


body {
	padding:20px;
	background-color: #333333;
}
/*css类分类器*/
a.banner{
	position: relative;
	display: block;
	width: 728px;
	height: 176px;
	border: 1px solid #555;
	background:
		url(../images/banner-arrow.png)no-repeat 20px 140px,
		url(../images/banner-photo.png)no-repeat -40px 20px,
		url(../images/banner-09.png)no-repeat -20px -90px,
		url(../images/banner-bg.png)no-repeat 0 0;
	
}

a.banner .banner-logo{
	position: absolute;
	top: 20px;
	left: 540px;
}

a.banner .banner-desc{
	position: absolute;
	top: 35px;
	left: 170px;
	font:39px/0.9 "NanumPenWeb","方正静蕾简体","Nanum Pen Script";
	color: #4ec1cd;
}